@import 'src/assets/styles/_variables.scss';

.category {
    box-shadow: 0 1px 3px #0000001f, 0 1px 2px #0000003d;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    border-radius: 10px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 15px;
    margin-bottom: 5px;
    margin-top: 5px;
    flex-grow: 100%;
    background-color: $secundary-color;
    color: $color-light;
    width: 10rem;

    cursor: pointer;
    &__img{
        width: 30px;
        height: 30px;
        img{
            width: 30px;
            height: 30px;
            border-radius: 50%;
        }
    }
    &__text{
        padding-left: 5px;
        display: flex;
        justify-content:center;
        align-items: center;
    }
}
